.section-heading {
  font-size: 28px;
  font-weight: 500;
  color: var(--color-text-primary-60);
  margin-bottom: 8px;
}

.section-container {
  background: var(--color-primary-a02);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
