<ng-container *ngIf="editorService.formConfig$ | async as formConfig">
  <div class="section-heading">Themes</div>
  <div class="section-container">
    <div class="theme-selector-container">
      <div
        *ngFor="let theme of editorConstants.THEMES; index as i"
        class="theme-selector"
        (click)="onChangeTheme(i)"
        [class.active]="activeThemeIndex === i"
      >
        <img src="assets/theme_{{ i }}.svg" alt="theme 1" />
      </div>
    </div>
    <div class="divider"></div>
    <div class="property-input-grid">
      <div class="input-container">
        <label>Global border radius</label>
        <input
          [value]="formConfig.styles.borderRadius"
          type="text"
          name="border-radius"
          flRestrictInputTo="number"
          title="border radius"
          (safeChange)="onBorderRadiusChange($event)"
        />
      </div>
    </div>
  </div>

  <div class="section-heading">Input Styles</div>
  <div class="section-container">
    <div class="tabs">
      <div
        class="tab"
        [class.active]="activeTab === state"
        (click)="activeTab = state"
        *ngFor="let state of editorConstants.INPUT_STATES"
      >
        {{ state }}
      </div>
    </div>
    <div class="property-input-grid">
      <ng-container
        *ngFor="
          let entry of formConfig.styles.input[activeTab] | keyvalue;
          trackBy: editorTrackBy
        "
      >
        <fl-single-style-editor
          (valueChange)="onInputValueChange($event.key, $event.value)"
          [styleProperty]="entry"
        ></fl-single-style-editor>
      </ng-container>
    </div>
  </div>
  <div class="section-heading">Button styles</div>
  <div class="section-container">
    <div *ngFor="let button of formConfig.styles.buttons; index as i">
      <div class="button-label">{{ formConfig.buttons[i].label }}</div>
      <div class="tabs">
        <div
          class="tab"
          [class.active]="activeButtonTabs[i] === state"
          (click)="activeButtonTabs[i] = state"
          *ngFor="let state of editorConstants.BUTTON_STATES"
        >
          {{ state }}
        </div>
      </div>
      <div class="property-input-grid">
        <div
          *ngFor="
            let entry of button[getActiveButtonTab(i)] | keyvalue;
            trackBy: editorTrackBy
          "
        >
          <fl-single-style-editor
            (valueChange)="
              onUnsafeButtonValueChange($event.key, $event.value, i)
            "
            [styleProperty]="entry"
          ></fl-single-style-editor>
        </div>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</ng-container>
