INPUT STYLE EDITOR
<ng-container *ngIf="editorService.formConfig$ | async as formConfig">
  <button
    class="tab"
    [class.active]="activeTab === state"
    (click)="activeTab = state"
    *ngFor="let state of editorConstants.INPUT_STATES"
  >
    {{ state }}
  </button>

  <ng-container
    *ngFor="
      let entry of formConfig.styles.input[activeTab] | keyvalue;
      trackBy: editorTrackBy
    "
  >
    <fl-single-style-editor
      (valueChange)="onInputValueChange($event.propertyKey, $event.value)"
      [styleProperty]="entry"
    ></fl-single-style-editor>
  </ng-container>
  <br />
  <br />
  ---------------------------------------------- <br />

  BUTTON STYLE EDITOR
  <div *ngFor="let button of formConfig.styles.buttons; index as i">
    <br />

    <button
      class="tab"
      [class.active]="activeButtonTabs[i] === state"
      (click)="activeButtonTabs[i] = state"
      *ngFor="let state of editorConstants.BUTTON_STATES"
    >
      {{ state }}
    </button>
    <div
      *ngFor="
        let entry of button[getActiveButtonTab(i)] | keyvalue;
        trackBy: editorTrackBy
      "
    >
      <!-- {{ entry | json }} -->
      <fl-single-style-editor
        (valueChange)="onButtonValueChange($event.propertyKey, $event.value, i)"
        [styleProperty]="entry"
      ></fl-single-style-editor>
    </div>
    <div></div>
  </div>
</ng-container>

<br />
<br />
---------------------------------------------- <br />
