.divider {
  margin: 12px 0;
}
.tabs {
  padding: 16px;
  display: flex;
  .tab {
    margin-right: 8px;
  }
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 50px;
  border: 2px solid transparent;
  background: var(--color-primary-a02);
  color: var(--color-primary);
  line-height: 100%;

  &.active {
    background: white;
    border-color: var(--color-primary);
  }
}

.property-input-grid {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.button-label {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  padding: 4px 16px;
  border-radius: 50px;
  background: var(--color-primary-a05);
  color: var(--color-primary-a30);
  width: min-content;
}

.section-container {
  .button-label {
    margin: 16px;
  }
}

.theme-selector-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 16px;
  gap: 12px;
}

.theme-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 8px;
  padding: 32px 16px 16px 16px;
  border: 2px solid var(--color-primary-a05);
  cursor: pointer;
  &:hover {
    border-color: var(--color-primary-a10);
  }

  &.active {
    border-color: var(--color-primary);
  }
}
