<div *ngIf="previewHtml$ | async as previewHtml">
  <div class="preview-container">
    <div class="preview-tabs">
      <div
        *ngFor="let tab of previewTabs"
        (click)="activePreviewTab = tab"
        [class.active]="activePreviewTab === tab"
        class="preview-tab"
      >
        {{ tab }}
      </div>
    </div>
    <div
      *ngIf="activePreviewTab === 'preview'"
      class="interactive-preview-container"
    >
      <iframe
        frameBorder="0"
        title="live preview "
        [srcdoc]="previewHtml.sanitized"
      ></iframe>
    </div>
    <fl-code-preview
      *ngIf="activePreviewTab === 'code'"
      [code]="previewHtml.raw"
    ></fl-code-preview>
  </div>
</div>
